.topicContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
  background-color:rgb(8, 97, 156);
  color:white;
  width: 50%;
  height: 50%;
  border-radius: 25px;
}